* {
  box-sizing: border-box;
}

body {
  margin: 0 2em;
  display: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.593), rgba(255, 255, 255, 0.593)), url('https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

form {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgb(237, 237, 237);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.168);
}

form fieldset {
  border: none;
  padding: 0;
  padding-right: 0;
}

form input {
  padding: 0.5em;
  width: 100%;
}

#page img {
  width: 120px;
  padding-top: 30px;
}

.error-msg {
  color: red;
}